/* #######

  Arquivo responsável pelo estilo dos links
  
  .link-logout
  .ajuda-contextual
  .link-imprimir
  .link-home
  .caminho-navegacao
  .link-paginador
	
####### */

div#moldura-topo #topo #dados-login p.a {
  color: #ffffff;
}

a {
  color: #1e64d4;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a#link-pagina-inicial {
  color: #ffffff;
  text-decoration: none;
}

a#link-logout {
  color: #ffffff;
  text-decoration: underline;
}

a.link-logout:hover {
  text-decoration: none;
}

/* .ajuda-contextual a {
  background: url(./img/ico-menu-fechado.gif) no-repeat;
  color: #fff;
  padding-left: 10px;
  text-decoration: none;
}

.ajuda-contextual a:hover {
  color: #1e64d4;
} */

.link-imprimir,
.link-home {
  color: #fff;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  padding: 1px 4px;
  text-decoration: none;
}

.link-imprimir {
  background: #8d8f26;
}

.link-home {
  background: #686868;
}

.link-paginador {
  text-align: center;
}

.link-paginador a {
  background: #e3e3e3;
  border: 1px solid #e3e3e3;
  color: #3a3a3a;
  display: inline-block;
  font-weight: bold;
  padding: 2px 4px;
  text-decoration: none;
}

.link-paginador a:hover {
  text-decoration: underline;
}

.link-paginador a.link-pagina-ativa {
  background: #fff;
  border: 0;
  color: #cc9933;
  display: inline-block;
  font-weight: bold;
  padding: 2px 4px;
  text-decoration: underline;
}
.link-paginador a.desabilitado {
  background: #e3e3e3;
  border: 1px solid #e3e3e3;
  color: #c0c0c0;
  font-weight: bold;
  display: inline-block;
  padding: 2px 4px;
  text-decoration: none;
  cursor: default;
}

.link-paginador-desabilitado {
  background: #e3e3e3;
  border: 1px solid #e3e3e3;
  color: #c0c0c0;
  font-weight: bold;
  display: inline-block;
  padding: 2px 4px;
  text-decoration: none;
  cursor: default;
}
